<EmailConfig>
  <DisplayName>Bomberos Voluntarios de Lobos</DisplayName>
  <Address>documentaciones.cbl@gmail.com</Address>
  <ReplyToAddress></ReplyToAddress>
  <Signature>{0}{0}Bomberos Voluntarios de Lobos{0}Cuartel Principal{0}Ameghino 142 - Lobos{0}Tel.: +54 2227 42-2222{0}info@bomberosdelobos.com.ar{0}www.bomberosdelobos.com.ar</Signature>
  <SmtpServer>mail.gmail.com</SmtpServer>
  <SmtpUserName>documentaciones.cbl@gmail.com</SmtpUserName>
  <SmtpPassword></SmtpPassword>
  <SmtpPort>465</SmtpPort>
  <SmtpUseSsl>true</SmtpUseSsl>
  <SmtpTimeout>30000</SmtpTimeout>
  <SendMethod>NETCLIENT</SendMethod>
  <SendMaxPerHour>200</SendMaxPerHour>
</EmailConfig>